<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container page">
        <div class="row">
            <div class="col-md-6 col-print-6">
                <h1>{{ name }}<br />{{ title }}</h1>
                <p>
                    <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
                </p>
                <p>
                    <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o"
                                aria-hidden="true"></i>Download PDF version</a></span>
                    <span class="print">The online version is available at <a href="{{ baseUrl }}"
                            class="text-nowrap"><i class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
                </p>
            </div>
            <div class="col-md-6 col-print-6">
                <dl class="row">
                    {{#each facts}}
                    <dt class="col-md-3">{{ @key }}</dt>
                    <dd class="col-md-9">{{{ this }}}</dd>
                    {{/each}}
                </dl>
            </div>
        </div>

        <h2 class="mt-3">Professional Experience</h2>
        {{#each plays}}
        <div class="card mb-4">
            <div class="card-body">
                <h3>{{ title }}</h3>
                <p class="text-muted">{{ written }}</p>

                {{{markdown contents }}}

                <div>
                    {{#each badges }}
                    <span class="badge badge-primary">{{ this }}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}

        <h3>Skills</h3>

        <h5 style="font-weight: 500;">Hard Skills</h5>
        <p>
            During my career, my main focus has been on Web Technologies, especially on one of the most powerful and popular frontend frameworks - Angular. I developed
            my skills around this framework in order to gain knowledge at every step, given that it is a very large technology. In the past, I have worked on multiple
            web applications that used Angular as the frontend framework (having the last one using Angular 12), where my job was to create beautiful designs, develop new functionalities and possibilities for the users, 
            and also to contribute to the architecture of the frontend application. I communicated constantly with the backend teams in order to integrate the backend services using
            REST API, having the objective of persisting data provided by the user in the interface. In the process of operating the data and managing HTTP requests, I have used one of
            my favourite JavaScript libraries, RxJS. I consider this library to be extremely powerful, I felt that I can accomplish almost anything in this section by knowing how to use
            this library, because, the user could practically navigate freely through the app, while asynchronous actions and callbacks were managed "behind the scenes". <br><br>
            In the most cases, I used TypeScript in the development process, alternating between this and JavaScript, given that TS is a subset. I love TypeScript because it brought a new
            vision to Frontend Development, by being strongly typed. This, and the object-oriented factor it brings on the table, have made TypeScript written applications to be very organised and 
            easy to understand for newcomers.<br><br>
            As for the structure and design of the interface, I have used HTML styled by CSS extensions SASS and LESS. In order to bring life to web interfaces, I have also used frontend open source 
            toolkits, such as Bootstrap, PrimeNG, and Angular Material, which provided beautiful templates for forms, tables, and basically almost anything you would need in a website, templates which
            I've customized myself in theme with the application's requirements. In some cases, I was also required by clients to create SVGs and other figures from scratch in order to use them in the 
            application, considering my experience with Adobe Illustrator.<br><br>
            In order to speed up the development time and to grow my knowledge, I have also learned backend technologies such as Spring and Spring Boot, which were used in a couple of projects I've worked on. I have also
            used Spring to develop the backend services for my bachelor's degree thesis application. Other than that, I interested myself in the Python language, and I developed an application personally which uses 
            Python Flask as backend service.<br><br>
            In the database management domain, I am experienced with DBMSs such as MySQL and SSMS. My knowledge covers DDL, DML and PL/SQL.<br><br>
            As for VCS, my favourite is Git. I have used it for every project I have ever worked on.
        </p>

        <h5 style="font-weight: 500;">Soft Skills</h5>
        <p>
            English poet, playwright and actor, widely regarded as the greatest writer in the English language
            and the world's pre-eminent dramatist. Often called England's national poet and the "Bard of Avon".
            My extant work is including collaborations, consist of approximately 38 plays, 154 sonnets,
            two long narrative poems and a few other verses, some of uncertain authorship.
        </p>

        <h2>Education</h2>
        <p>Master's Degree in Cyber-Security and Machine Learning [2021-2023] (currently studying) - Ovidius University of Constanța</p>
        <p>Bachelor's Degree in Computer Science [2018-2021] - Ovidius University of Constanța</p>
    </div>
</body>

</html>